<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Item</title>
</head>
<body>
    <div style='margin-left: 40px; margin-right: 40px; margin-top: 70px;'>
        <h1>Adicionar Produtos</h1>
        <!-- Render Django form -->
        <form method='POST' action=''>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value='Save'/>
        </form>
    </div>
</body>
</html>
