<!DOCTYPE html>
<html>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista de itens</title>
</head>
<body>
    <div style='margin-left: 40px; margin-right: 40px; margin-top: 70px;'>
        <h1>Adicionar Produtos</h1>
        <!-- Add your form or content here -->
        <form method='POST' action=''>{% csrf_token %}
            {{ form }}
            <input type="submit" value='Save'/>
        </form>
    </div>

    <h2> Lista de produtos </h2>
        <ul>
            <table style="width:100%">
                <tr>
                    <th>Nome</th>
                    <th>COD.</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Cor</th>
                    <th>Tamanho</th>
                </tr>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.codigo }}</td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.cor }}</td>
                    <td>{{ produto.tamanho }}</td>
                </tr>
                {% endfor %}
            </table>
	

</body>
</html>