

<!DOCTYPE html>
<html>
    
<head>
    {% extends 'headerandfooter.html' %}
    {% load static %} <!-- Load static files -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fotografe o QRCode</title>
    <link rel="stylesheet" type="text/css" href="{% static 'controleestoque/stylesheet.css' %}">
 <!-- Link to stylesheet.css -->
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>

<body>
    {% block content %}
        <img src="{{ url }}" alt="QR Code" style="width: 150px; height: 150px;">
    {% endblock %}	
</body>
</html>